/* 全局样式表 */
html,body,#app{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
}
*{
    text-decoration: none;
    font-family: -apple-system,SF UI Display,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
    -webkit-tap-highlight-color:transparent;
}
.el-form-item.is-error .el-input__inner{
    border-color:  #c8c8c8 !important;
}
a{
    color: #000;
}